.aboutMe {

}
.info{
  position: relative;
  height: 24.4vw;
  width: 67vw;
  left: 12vw;
  background-color: $aboutMeColor;
  top: 2.5vw;
  border-radius: 1px;
  margin-bottom: 4.5vw;
  padding-left:  12vw;
  display: flex;
  overflow: hidden;
  .buttonTabs{
    z-index: 1;
    width: 20%;
    button{
      height: 20%;
    }
  }
  p{
    position:relative;
    text-align: center;
  }
}
.aboutHex{
  position: absolute;
  top:4vw;
  left: 0vw;
  width: 43vw;
  height: 21.5vw;
  z-index: 1;

}
.hexImage{
  &:hover ~ .info{
transform: scale(2);
  }
}
.animated {
  animation: moveText linear 2s ;
}
.animatedOut{
  animation: moveTextOut linear 2s;
}
@keyframes moveText {
  0%{left:0}
100%{left:50vw}

}
@keyframes moveTextOut {
  0%{left:50vw}
  100%{left:0vw}

}