footer {
  background-color: $sectionsBackgroundColor;
  background-image: url("../img/laptop.jpg");
  min-height: 100vh;
  background-position: center;
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;

  .container {
    height: 100vh;
    display: flex;
    padding: 5vw 2vw;

    form {
      background-color: $sectionsBackgroundColor;
      padding: 20px;
      height: 80vh;
      display: flex;
      justify-content: space-evenly;
      flex-direction: column;
    }

    button {
      align-self: center;
      height: 10%;
      background-color: $buttonColor;
      color: $smallerTextColor;
      outline: 0;
      border: 0.5px solid $borderColorOnOtherProjects;
      transition: 2s all;
      width: 30%;
      box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.51);
      position: relative;
      border-radius: 10px;
      &:hover {
       transform: scale(0.9);
        cursor: pointer;
        background-color: $buttonOnHover;
        box-shadow: 0px 10px 0px 0px rgba(0,0,0,0.51);
      }
    }

    div:nth-child(2) {
      background-color: $sectionsBackgroundColor;
      text-align: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      height: 80vh;

      h2 {
        font-size: 5vw;
      }

      li {
        list-style: none;
        font-size: 2vw;
      }

      a {
        text-decoration: none;
        color: darkcyan;
        font-size: 2.8vw;
      }
    }
  }
}
