.hexagon{
  width: 40vw;
  height: 20vw;
  background: red;
  transform: rotate(30deg);
  overflow: hidden;
  visibility: hidden;
  .hexInside{

    width: 100%;
    height: 100%;
    background-color: blue;
    transform: rotate(-60deg);
    overflow: hidden;

  }
  .hexImage{
    width: 100%;
    height: 100%;
    background-image: url("../img/Podeszwa.jpeg");
    transform: rotate(-60deg);
    visibility: visible;
    background-position: center;
    background-size:57% auto;
    background-repeat: no-repeat;
    position:relative;
  }
}

//small grid hex


.mySkills{
  padding: 6vw;
  .grid{
    display: grid;
    grid-template-columns: 13.5vw 13.5vw 13.5vw 13.5vw;
    grid-template-rows: auto auto auto;

  }
  .hexagon {
    margin: -0.7vw;
    width: 26vw;
    height: 13vw;
    &:nth-of-type(5),&:nth-of-type(6),&:nth-of-type(7),&:nth-of-type(8){
      margin-left:6vw;
    }
    .hexImage{
      background-image: url("https://ichef.bbci.co.uk/news/660/cpsprodpb/37B5/production/_89716241_thinkstockphotos-523060154.jpg");
      background-size: cover;
    }
  }
}