$borderColorOnOtherProjects: black;
$sectionsBackgroundColor:#999da0;
$aboutMeColor:#808588;
$hexagonColor:#DCDCDC;
$headerColor:red;
$smallerTextColor:blue;
$buttonColor:yellow;
$buttonOnHover:orange;