$borderColorOnOtherProjects: rgb(255, 218, 26);
$sectionsBackgroundColor:rgba(	0, 81, 186,1);
$aboutMeColor:#008ecc;
$hexagonColor:#FDF77D;
$headerColor:rgb(255, 218, 26);
$smallerTextColor:orange;
$buttonColor:rgb(255, 218, 26);
$buttonOnHover:orange;
$buttonTextColor:white;
