*{
  box-sizing: border-box;
  margin:0;
  padding: 0;
  width: 100%;

}
body{
  color:white;
  font-family: 'Shadows Into Light', cursive;
}
.container{
  max-width: 80%;
  margin: 0 auto;
  height: 100%;
  text-align: center;
}
h1{
  color:$headerColor;
  font-size: 7vw;
  margin: 0 auto;
  text-align: center;
  transition: all 0.5s;
  font-family: 'Press Start 2P', cursive;
  display: inline;
    animation: neon 1.5s linear infinite alternate;
@media (max-width: 490px) {
  font-size: 9vw;
}
}
h2{
  color:$smallerTextColor;
  text-align: center;
  font-size: 6vw;
  font-family: 'Press Start 2P', cursive;
  display: inline;
  &:hover {
  animation: neon 1.5s linear infinite alternate;
}
  @media (max-width: 490px) {
    font-size: 7vw;
  }
}
@keyframes neon {
  0% {
    text-shadow: none
  }
  10%{
    text-shadow: 0 0 5px #fff;
  }
  20% {
    text-shadow:  0 0 10px #fff;
  }
  30%{
    text-shadow:0 0 15px #fff ;
  }
  40%{
    text-shadow: 0 0 20px rgb(255, 218, 26);
  }
  50%{
    text-shadow: 0 0 35px rgb(255, 218, 26) ;
  }
60%{
  text-shadow: 0 0 40px rgb(255, 218, 26);
}
  70%{
    text-shadow: 0 0 50px rgb(255, 218, 26);
  }
  100%{
    text-shadow:0 0 75px rgb(255, 218, 26); ;
  }
}
@keyframes neon2 {
  0% {
    text-shadow: none
  }
  10%{
    text-shadow: 0 0 5px #fff;
  }
  20% {
    text-shadow:  0 0 10px #fff;
  }
  30%{
    text-shadow:0 0 15px #fff ;
  }
  40%{
    text-shadow: 0 0 20px orange;
  }
  50%{
    text-shadow: 0 0 35px orange ;
  }
  60%{
    text-shadow: 0 0 40px orange;
  }
  70%{
    text-shadow: 0 0 50px orange;
  }
  100%{
    text-shadow:0 0 75px orange; ;
  }
}
